[2013-03-24 01:03] philostler opened #1 "#be_processed_in matcher using symbol vs string"
A quick read of Sidekiq's code base appears to show that arguments of jobs are serialized to JSON for injection into Redis and are thus converted to strings automatically.

This means that the following statements are equal...

[code]

...representing the same intent and the same end result.

However the the following written matchers are not equal...

[code]

Should the matcher convert all expect

[2013-03-27 16:15] BrianJou opened #2 "undefined method 'jobs'"
Hey!

Trying to get rspec-sidekiq to be working.

I was reading your initialization documents. I was under the impression that expect takes in a block instead of being called as a method.

`expect { AwesomeJob }` instead of `expect( AwesomeJob )`

Using expect as a method causes a ArgumentError (1 for 0).

If i make that assumption, when i call the expect job, i get the following error,
`undefined

[2013-03-27 18:01] #2 closed, assigned to philostler

[2013-04-07 13:31] philostler opened #4 "Remove restriction on using be_unique matcher"
Remove restriction on having to use [sidekiq-middleware](https://github.com/krasnoukhov/sidekiq-middleware) with the be_unique matcher

[2013-04-07 13:41] philostler opened #5 "Provide full spec example in README.md"
Provide a full spec file example of how testing a job might look

[2013-04-07 23:41] #4 closed, assigned to philostler

[2013-04-09 19:04] #5 closed, assigned to philostler

[2013-04-10 06:46] messick opened #6 "Just installing gem causes Sidekiq to stop enqueue jobs"
Not sure if it's just latest release, but even just putting rspec-sidekiq in my gem file causes my 'perform_async' functions to stop enqueue Sidekiq jobs.  When I monitor Redis, I can see that the entires aren't even being made in the Redis database. This while using my app in development, not while running specs.

If I remove the gem from Gemfile and re-bundle, everything works great.

[2013-04-10 08:27] #6 closed, assigned to philostler

[2013-04-13 12:08] philostler opened #8 "Put together suite of specs for matchers"
Construct specs to verify proper function of matchers

[2013-04-13 12:16] philostler opened #9 "Add code coverage indicator"
Add code coverage indicator from [Coveralls.io](https://coveralls.io)

[2013-04-13 12:47] #9 closed, assigned to philostler

[2013-04-30 06:59] hiroyuki-sato opened #11 "[Patch] and [Q] how to use be_processed_in"
Hello developer

Hello please review the following patch.
rspec-sidekiq version 0.3.0

Or could you tell me how to use be_processed_in?

Best regards.
## Patch

[code]
## Error

I got the following error

[code]
## spec_file

[code]

[2013-05-02 22:07] hughkelsey opened #12 "undefined method `raw_push'"
I'm on Rails 4.0 RC1 with sidekiq 2.11.2 and rspec 2.13.1

When I include the gem:

group :test do
  gem "rspec-sidekiq"
end

Rspec won't start and returns:
..../sidekiq-2.11.2/lib/sidekiq/testing.rb:5:in `alias_method': undefined method`raw_push' for class `Class' (NameError)

I have not included rspec-sidekiq or sidekiq/testing in my spec_helper. Any Ideas?

[2013-05-12 16:38] #11 closed, assigned to philostler

[2013-05-14 20:23] ghost opened #13 "Bundler requiring Ruby v1.9.2"
There's an old dependency somewhere that's causing bundler to require Ruby 1.9.2.  I haven't spent too much time looking into why, but I wanted to get an issue logged before it slipped my mind.

[code]

[2013-05-14 20:28] ghost opened #14 "Old json gem warning when running the rspec tests"
This is probably related to issue #13

[code]

[2013-05-14 21:14] ghost opened #15 "be_processed_in always failing with new expect syntax"
Given this worker:

[code]

When I run the example listed in the README `expect(AwesomeJob).to be_processed_in :download`, I get the following error:

[code]

If I updated the test to say `expect(AwesomeJob.new).to be_processed_in :download`, though, then it passes.  Am I doing something wrong, or is there a problem with the way that rspec-sidekiq handles the expect syntax?

If I use the older syn

[2013-05-15 15:58] #13 closed, assigned to nobody

[2013-05-15 15:59] #14 closed, assigned to nobody

[2013-05-15 18:30] #12 closed, assigned to nobody

[2013-05-15 20:45] #15 closed, assigned to philostler

[2013-05-15 20:46] #8 closed, assigned to philostler

[2013-05-15 20:49] #1 closed, assigned to philostler

[2013-09-06 09:53] dfguo opened #18 "any thoughts on how to support delay class methods?"

[2013-09-10 14:12] noiseunion opened #19 "batch "stub" is not working"
Once I upped to Sidekiq Pro, the rspec-sidekiq gem started borking all of my tests with the following error:

Failure/Error: Unable to find matching line from backtrace
     NoMethodError:
       undefined method `stub' for Sidekiq::Batch:Class

Not sure what the issue is, I will see if I can figure it out, but any help would def be appreciated.

[2013-09-10 14:43] #19 closed, assigned to nobody

[2013-09-11 13:30] #18 closed, assigned to nobody

[2013-09-30 06:57] alikewmk opened #21 "require 'sidekiq/testing' problem"
Hello~

after I installed this gem when executing guard it throws out an error as below:

[code]

I look it up on google and find this

https://github.com/mperham/sidekiq/issues/615

so I think it is because there is a line of

[code]

in my code that cause this error, so is there a way I could put

[code]

after this line while using this gem?

Thanks. :)

[2013-10-16 11:17] #21 closed, assigned to nobody

[2013-12-05 01:07] philostler opened #23 "Loosen RSpec dependency"
Loosen dependency to take into account RSpec 3.x

[2013-12-05 01:19] philostler opened #24 "Improve be_a_delayed_job documentation in README"
TOC needs updating along with a longer description

[2013-12-05 01:20] philostler opened #25 "Refactor be_a_delayed_job matcher"
- Clean up internal logic
- Renamed to be_delayed
- Match on Object aswell as method
- Provide better matcher syntax

[2013-12-05 01:24] philostler opened #26 "Improve README"
Generally improve quality of README and maybe move example up etc

[2013-12-05 01:25] philostler opened #27 "Increase test coverage"
Currently in the "red" zone. Improve for 1.0.0 release

[2013-12-05 01:30] philostler opened #28 "Update development dependencies"

[2013-12-06 13:42] #23 closed, assigned to philostler

[2013-12-06 13:43] #28 closed, assigned to philostler

[2013-12-09 14:16] pungoyal opened #29 "does not work with rspec >= 3.0.0.beta"
We have `gem 'rspec-rails', '~> 3.0.0.beta'` in the `Gemfile`.

On adding `gem 'rspec-sidekiq'`, we get:

[code]

Since rspec 3 is going to be in beta for sometime, it'd be good to fix it to work with pre released version(s).

[2013-12-09 22:50] #29 closed, assigned to nobody

[2013-12-21 21:31] matthargett opened #32 "testing the status on a Batch doesn't work"
in the code below, I am trying to test for a potential race condition in sidekiqPro's Batch, and attempting to write a unit test for that condition. To do this, the Batch::Status for the batch needs to return something reasonable for the "total" attribute. right now, "total" just returns self(!). really threw me for a loop.

class SearchWorker < BaseWorker
  def perform(search_id, user_id, channel

[2013-12-24 22:52] mperham opened #33 "Print warning when used in development mode"
I've had a number of issues where Sidekiq has stopped processing jobs in development mode.  These all boiled down to people including rspec-sidekiq in the development group in their Gemfile.  Could you please print a warning on bootup in the development environment since it is probably not what people want?

Bonus points: allow the user to disable the warning if they know they actually want to do

[2013-12-27 00:25] #33 closed, assigned to philostler

[2013-12-27 13:40] philostler opened #37 "Remove have_enqueued_jobs matcher"
Matcher is pointless given that you can do...

[code]

Remove, or ideally keep with a message telling people to use the other syntax

[2013-12-27 14:15] #37 closed, assigned to philostler

[2013-12-30 22:59] #32 closed, assigned to nobody

[2014-01-19 18:40] #25 closed, assigned to philostler

[2014-01-19 18:57] #27 closed, assigned to philostler

[2014-01-20 23:47] #24 closed, assigned to philostler

[2014-01-21 00:40] #26 closed, assigned to philostler

[2014-01-28 18:52] asok opened #40 "Case when Sidekiq::Testing is disabled"
What exactly we might do here? That is when `sidekiq` is pushing to `redis`. [Here](https://gist.github.com/asok/8673692) is one of the matcher changed to handle such case. Is it a right thing to do?

[2014-03-11 15:17] saxxi opened #45 "Disable rspec-sidekiq"
Hello,
   first of all, thanks for this awesome gem :)

I'm currently using rspec-sidekiq, now I'd like to add a separate test with a real sidekiq connection so I'd like to disable this gem in an integration test (cucumber or rspec):

[code]

What is the right way to do achieve this?

Probably I should also put in a **Procfile.test** the following content and have it run before executing my integr

[2014-03-12 14:42] #45 closed, assigned to nobody

[2014-03-23 10:10] yelled3 opened #46 "Add support for 3.0.0.beta2"
hopefully, this will make the transition to rspec 3 smoother :-)

[2014-04-25 16:06] freemanoid opened #50 "NoMethodError: undefined method `configure' for RSpec:Module on CircleCI"
I started getting this error after migration to `rails 4.1.0`

I use `sidekiq-pro`

[code]

Any thoughts?

[2014-05-12 17:31] yabawock opened #53 "Usage of :be_delayed with ActionMailer"
Hi!

I can't seem to figure out how the be_delayed matcher from master is supposed to be used with ActionMailer classes. Since ActionMailer does some funky stuff with instance and class methods I can't use the matchers as documented.

[code]
fails with a NameError: undefined method.

I can work around that with a fake `Method` object like this:
[code]
but that doesn't feel right at all.

Any hints

[2014-06-08 11:04] #46 closed, assigned to nobody

[2014-06-08 11:11] philostler opened #56 "Completely remove have_enqueued_jobs matcher"
An error currently exists to stop people using this matcher.... Time for it to be completely removed

[2014-06-22 11:15] yelled3 opened #57 "New Matcher Idea: have_enqueued_jobs_in_bulk"
While working on my gem: http://sidekiq-orm.github.io
I wanted to be able to test `Sidekiq::ActiveRecord::ManagerWorker`, which uses `Sidekiq::Client.push_bulk`, e.g

[code]

from: https://github.com/sidekiq-orm/sidekiq-activerecord/blob/master/spec/sidekiq/active_record/manager_worker_spec.rb#L77-L87

It would be great if I could do:

[code]

for more info on `Sidekiq::ActiveRecord::ManagerWorker

[2014-06-25 12:27] #50 closed, assigned to nobody

[2014-08-19 21:01] #56 closed, assigned to philostler

[2014-09-09 14:42] milgner opened #59 "RSpec deprecation warnings"
Using RSpec 3, I get the following message when using `be_delayed`:

[code]

[2014-09-17 16:15] #59 closed, assigned to nobody

[2014-11-20 01:15] markquezada opened #62 "RSpec 3.1 support?"
Thanks for these handing testing additions for sidekiq!

RSpec 3.1 was [released in September](http://myronmars.to/n/dev-blog/2014/09/rspec-3-1-has-been-released). Any chance we can get an updated release of rspec-sidekiq?

[2014-11-20 01:30] #62 closed, assigned to nobody

[2015-02-09 07:59] atipugin opened #65 "#be_delayed doesn't work"
I can't figure out why #be_delayed matcher doesn't work for me :( Have the following code:

[code]

With spec:
[code]

And running specs gives this:

[code]

Any suggestions?

[2015-02-09 09:41] atipugin commented on #65
Doh, get it. I need to pass same arguments to #be_delayed call.

[2015-02-09 09:41] #65 closed

[2015-03-09 13:44] ewamarciniak opened #66 "How can I test the scheduled time?"
I have found this code on the Sidekiq page, but it has since been removed:

``` Collector.should have_queued_job_at(date_2,1)```

Is this have_queued_job_at method part of the gem? it doesn't seem to be recognised. Is there any way to test the time that the job has been rescheduled to?

[2015-03-09 14:03] philostler commented on #66
Your looking at the wrong gem, the part of the docs you are refering to are related to subelsky's helpers over [here](https://github.com/subelsky/subelsky_power_tools/blob/master/lib/subelsky_power_tools/sidekiq_assertions.rb)

[2015-03-09 14:05] #66 closed

[2015-03-09 14:07] philostler commented on #66
I don't think we have anything in here for testing the time the job has been rescheduled for. Not worked on this gem for a while so I may just have forgotten

[2015-04-15 15:23] thom-nic opened #67 "Dependency conflict with rspec 3.2"
When I bump rspec-rails to `~>3.2.1` in my gemfile I get dependency conflicts:

[code]

[2015-05-06 09:05] dvdplm opened #68 "New release? 2.1"
Version 2.1 seems ready to roll, but it's not on rubygems yet. Perhaps time to make a release?

[2015-06-02 10:36] ingolfured commented on #37
`have` doesn't work anymore for Rspec 3.2, what do you recommend using instead?

[2015-06-02 10:49] ingolfured commented on #37
Never mind, I just used
[code]

[2015-06-03 23:24] philostler commented on #53
Pull request #63 has been merged into develop now and will be released with v2.1, fixing this issue

[2015-06-03 23:24] #53 closed

[2015-06-03 23:24] #40 closed

[2015-06-03 23:35] philostler commented on #68
Merging in some PRs now. Will ensure everything looks good before a release. Should be soon hopefully

[2015-06-03 23:35] #68 closed

[2015-06-04 00:07] philostler commented on #67
Did you resolve this? I can't see the problem with the RSpec dependency in `rspec-sidekiq`

[2015-06-04 13:22] thom-nic commented on #67
Let me check I left the dependency @ `~> 3.1.0`

[2015-06-04 13:35] thom-nic commented on #67
Did another `bundle update` after changing `rspec-rails` back to `~> 3.2.1` - looks like it's working now.  Maybe one of the rspec projects updated their dependency range to make it compatible.  Thanks for following up!

[2015-06-04 13:35] #67 closed

[2015-07-20 04:12] tanelsuurhans commented on #68
Any news on this?

[2015-08-13 18:44] gPrado opened #74 "have_enqueued_job fails if args includes a Hash"
In previous versions (2.0.0), if you had a worker that accepted a hash parameter, you could do the following test:

    expect(Sidekiq::Worker).to have_enqueued_job 123, true, 'param1' => 'abc456'

After update to 2.1.0 it fails with: **TypeError: no implicit conversion of String into Integer**
at: **lib/rspec/matchers/have_enqueued_job.rb:56**

[2015-08-15 10:01] adisos opened #75 "Warn: can't alias context from irb_context." error"
When I use this gem in a Rails project by including `rspec-sidekiq` in my Gemfile:

[code]

I get a warning "irb: warn: can't alias context from irb_context." when I run bundle exec rails c

[2015-08-18 19:34] dugjason opened #76 "NoMethodError: undefined method `jobs' for CustomJob:Class"
I'm receiving an ```NoMethodError: undefined method `jobs' for CustomJob:Class``` error message when I run my specs, and I can't figure out why. I've checked #2 which seemed to be a similar issue, but I'm not making that mistake, and I'm using the latest version of rspec-sidekiq (v2.1.0) with Sidekiq v3.4.2.

My code is as follows:

[code]

After running this spec, I'm receiving:

[code]

Any idea

[2015-08-18 19:55] dugjason commented on #76
Looking at the other available assertions, these don't seem to work either:

Using ```expect(CustomJob).to have(1).jobs``` throws:
[code]

And using ```expect(CustomJob.jobs.size).to eq(1)``` throws:
[code]

[2015-08-19 23:30] erikogan commented on #74
I came across this today. I am about to push a final commit to #77, which fixes the problem.

[2015-08-22 15:38] erikogan commented on #74
@gPrado (& @philostler) I believe this issue can be closed with the merge of #77. Can you confirm?

[2015-08-23 11:02] philostler commented on #74
Confirmed

[2015-08-23 11:02] #74 closed

[2015-08-24 14:03] gPrado commented on #74
Fix confirmed, thank you guys!

[2015-09-09 21:05] bryanhickerson commented on #76
I'm trying to figure out the same problem. It looks like jobs is defined in Sidekiq::Worker, so I guess the expectation needs one of those objects instead of an ActiveJob object.

[2015-09-10 14:46] Bartuz opened #79 "have_enqueued_job and Sidekiq::Testing.disabled!"
I'm running my specs with _real_ Redis (via https://github.com/guilleiguaran/fakeredis), with `Sidekiq::Testing.disable!` and with this little [_hack_](https://github.com/guilleiguaran/fakeredis/issues/66#issuecomment-23753509)  to make thing working.

I think the problem is that `have_enqueued_job` doesn't look for jobs in `Sidekiq::Queue` object but rather `Worker.jobs` array. (it's my guess)

[

[2015-09-10 17:24] bryanhickerson commented on #76
That was the case. If you look at the spec for have_enqueued_job, you can see an example of checking that an ActiveJob was enqueued by the Sidekiq worker.

[2015-11-12 22:11] JonRowe opened #83 "`have_enqueued_job` clashes with `rspec-rails` `3.4.0`"
In `rspec-rails` we implemented support for asserting on wether or not an `ActiveJob` has been queued, unfortunately we used `have_enqueued_job` as the name for this matcher as we were unaware of this gem. This means that `rspec-sidekiq` will now clash with `rspec-rails`.

Given that our matcher is more generic I propose that the `have_enqueued_job` matcher in `rspec-sidekiq` be renamed to `have_e

[2015-11-13 23:40] mhenrixon commented on #83
:+1:

[2015-11-17 14:54] aprescott commented on #83
I see @mrbrdo issued #84 for this fix. Until that gets reviewed, merged and included in a release, is there a temporary work-around I can use to unblock gem updates?

[2015-11-17 15:00] aprescott commented on #83
Think I got one, actually:

[code]

[2015-11-17 15:16] mrbrdo commented on #83
Or just use my branch in your gemfile.

[2015-11-17 17:05] aprescott commented on #83
Git refs in a Gemfile lead to bulky `vendor/cache` directories, so I try to avoid them.

[2015-11-24 09:13] zhen6939 opened #85 "How can I test using "within_sidekiq_retries_exhausted_block" with an outside method"
I wanna test "sidekiq_retries_exhausted" in this class:

[code]

Here is my test:

[code]

But it doesn't work.Here is my log:

So，is there any way to test a method belong to another class during "sidekiq_retries_exhausted"?

[2015-11-24 22:05] IanWhitney opened #86 "Testing callbacks within batches?"
In the Batches feature of Sidekiq Pro we can declare a callback to be called when the batch completes/succeeds.

rspec-sidekiq has made it much easier for us to test the batch functionality (which I appreciate!), but I don't see a way to test this callback functionality. I'm guessing it's because of the NullObject implementation of Batch, but I'm not sure.

Is there a way to test the callback func

[2015-11-26 03:24] Ranhiru commented on #65
Thanks @atipugin. That was what was going wrong for me too.

However I was expecting `be_delayed` to work in such a way that if I called it without any arguments, it would just check if it was delayed regardless of the parameters. Something similar to

[code]

While the first line would test if it's called and second line would check if it was called with the exact arguments.

[2015-12-04 05:10] gditrick commented on #85
I can't even get this to work with the example using rspec 3.x.

[2015-12-07 16:42] fabn commented on #83
@philostler any ETA for this? I'd like to upgrade RSpec but this issue prevent me to do that.

[2015-12-10 10:46] philostler commented on #83
Been busy with work etc recently, will review all PRs and Issues very soon.

[2015-12-10 16:33] dentarg commented on #74
@philostler any chance we are getting closer to a release that includes this?

[2015-12-18 02:05] typeoneerror opened #88 "have_enqueued_job wrong number of arguments (3 for 0..1)"
I get this error when I try to use this API. I'm afraid I'm using it incorrectly.

[code]

The docs show multiple args:

[code]

`UnlockContentJob` is an ActiveJob subclass. Could that be why? Do I need to do something special to set up this gem for ActiveJob? It looked like the adapter was set by the gem.

[2015-12-18 02:09] typeoneerror commented on #88
Seems like https://github.com/philostler/rspec-sidekiq/issues/83 might be the culprit.

[2016-01-19 18:24] bkoltai commented on #83
+1 for PR!

[2016-01-19 23:09] JonRowe commented on #88
If you're using `ActiveJob` you don't need this gem at all with the latest version of RSpec.

[2016-02-17 12:26] why-el opened #89 "Gem specs fail"
Hey,

When I run the `rspec-sidekiq` specs locally using `bundle exec rspec spec` I get 4 failures:

[code]

All dependencies are installed. I tested this against both ruby `2.1.5` and the latest `2.2.4` and also both the `develop` branch and the `master` branch. Anything more than `bundle exec rspec spec` I need to run or be aware of?

[2016-02-28 21:50] freemanoid commented on #89
I got the same errors. I traced the errors and the logic which leads to them seems to be reasonable. Can't understand why doesn't it fail on [travis][1].

[1]: https://travis-ci.org/philostler/rspec-sidekiq/jobs/98411990

[2016-03-07 16:57] urkle opened #91 "dependencies should be on rspec-core and rspec-expectations not rspec"
if I'm using rspec-rails, the rspec gem is never pulled in..  using this gem shouldn't pull it in either.

[2016-03-28 15:53] codemang opened #92 "Sidekiq::Batch::Status wrong number of arguments"
I'm getting an ArgumentError exception when my specs try to instantiate an instance of `Sidekiq::Batch::Status`.

With one argument, I get `ArgumentError Exception: wrong number of arguments (given 0, expected 2)`
With 2+ arguments I get `ArgumentError Exception: Wrong number of arguments. Expected 1, got n#`

I placed a few break points in the file pertaining to batches and I see the call to the

[2016-05-03 07:55] alexandrz opened #93 ""TypeError: allocator undefined for Proc" after upgrading of rails to 4.2"
`expect(Car.method :open).to be_delayed(car.id)` raises `TypeError: allocator undefined for Proc` exception.

It happened with rspec-sidekiq 2.0.0 and upgrading to 2.2.0 hasn't resolved the issue.

[2016-05-03 09:17] alexandrz commented on #93
Backtrace:

[code]

[2016-05-05 09:14] alexandrz commented on #93
It happened because we passed AR objects as parameters to jobs

[2016-05-05 09:14] #93 closed

[2016-05-25 01:31] nickcoyne commented on #83
Was this not merged?

[2016-06-03 16:46] urkle opened #94 "depend on rspec-core instead of rspec"
This gem should depend on rspec-core and NOT rspec. In a rails application having this gem with it's dependency on rspec makes updating rspec-rails difficult as one has to do `bundle update rspec rspec-rails`.

[2016-06-27 09:17] philostler commented on #94
PR would be welcome

[2016-06-27 09:26] philostler commented on #91
Dup of #94 . See my comment there

[2016-06-27 09:26] #91 closed

[2016-06-27 09:27] philostler commented on #83
This should be fixed with #95 now

[2016-06-27 09:27] #83 closed

[2016-06-28 22:10] philostler commented on #94
Closed by #96

[2016-06-28 22:10] #94 closed

[2016-07-01 05:45] h8rry opened #97 "Support for Rails 5 and Rspec 3.5.0"
Any plans to be compatible with Rails 5 and Rspec 3.5.0?

[2016-07-08 09:54] mathiasjakobsen commented on #88
When using methods like `retryable?` from [rspec-sidekiq](https://github.com/philostler/rspec-sidekiq), you can not dump the Gem, since the latest version of RSpec does not implement those methods..

[2016-08-16 01:39] axelson opened #98 "Is there a way to use have_enqueued_job but only check the first argument?"
Is there a way to use have_enqueued_job but only check the first argument? My use case is that for testing purposes it is only relevant to check the first argument, since the second argument is a detailed object hash that will change often in the future, thus making the test fragile.

[2016-09-11 16:32] wpolicarpo commented on #98
@axelson can you provide us a more detailed use case, maybe an example?

[2016-09-11 16:35] wpolicarpo commented on #89
@why-el @freemanoid are you still having problems with this?

[2016-09-12 08:59] leoc opened #104 "Deprecation warning not shown / have_enqueued_jobs name clash"
I am using rspec-rails 3.4.2 and was wondering why I get the following error, while trying to test job creation in a `after_create` callback.

[code]

`rspec-rails` defines a `have_enqueued_job` matcher, which seems to introduce problems with `rspec-sidekiq`. I suppose this check does not work:

https://github.com/philostler/rspec-sidekiq/blob/3ef52ce9ae7b3b5214a9b479318ad3c244ab7c65/lib/rspec/sid

[2016-09-15 14:45] packrat386 commented on #104
I'm guessing that the check is fine, but that the issue is with having both libraries try to define `have_enqueued_job`. It seems like the best way to deal with this would be having `rspec-sidekiq` define `have_enqueued_sidekiq_job` and only alias in the case that `rspec-rails < 3.4`.

The issue with doing it that way is that someone can have a bunch of tests that work, and then upgrade `rspec-rai

[2016-09-15 15:06] wpolicarpo commented on #104
@packrat386 @leoc I think #105 addresses the issue the right way. I'd say that the only problem (not a real problem, though) is that `have_enqueued_job` should be delegating to `have_enqueued_sidekiq_job` instead of instantiating `HaveEnqueuedJob` itself.

[2016-09-21 11:11] henadzit opened #106 "Undefined method 'at'"
Hello,

Thanks for awesome gem! I run into an issue with the matcher `#at`.

[code]

fails with

[code]

Thanks,
Henadzi

[2016-09-21 13:08] wpolicarpo commented on #106
@henadzit which version of `rspec-sidekiq` are ou using?

[2016-09-21 13:28] henadzit commented on #106
@wpolicarpo sorry, it's `2.2.0`.

[2016-09-23 04:44] jagthedrummer opened #107 "Matchers for scheduled jobs always pass"
I'm using the latest work in the `develop` branch by using this in my Gemfile:

[code]

I'm queueing a job in the future like this:

[code]

And I'm trying to make a test fail by doing:

[code]

No matter what `at` time I test for the test always passes when it should fail.

[2016-09-23 22:41] wpolicarpo commented on #106
@henadzit `#at` and `#in` chainable methods are available only on develop branch. I'll take a look at https://github.com/philostler/rspec-sidekiq/issues/107 before release a new version with those methods.

[2016-09-24 18:54] xtagon commented on #98
I have a similar situation where one parameter of my job is a DateTime that could be anything. In my spec I can't test that it has been enqueued because that param is not known in the setup and not easily stubbed.

[2016-09-24 23:47] packrat386 commented on #98
You could try passing the `anything` matcher in RSpec for that argument. Something like `expect(worker_class).to have_enqueued_job(anything, known_argument)`

[2016-09-25 02:53] xtagon commented on #98
@packrat386 Just tested. Worked like a charm! Would you happen to know where I can find `anything` in the RSpec docs? I think there are more wildcard-like argument matchers but I'm not sure where to look.

[2016-09-25 02:54] xtagon commented on #98
Found it! http://www.rubydoc.info/gems/rspec-mocks/RSpec/Mocks/ArgumentMatchers

[2016-09-26 22:12] axelson commented on #98
@packrat386 Thanks! That sounds like it'll work perfectly.

[2016-09-26 22:12] #98 closed

[2016-09-27 09:55] Morred commented on #107
Can confirm, the same happens for me.

[2016-09-27 12:28] wpolicarpo commented on #107
I'm working on it @jagthedrummer and @Morred. We'll release a fix soon.

[2016-09-27 20:57] wpolicarpo commented on #107
@jagthedrummer @Morred could you please point your Gemfile to #109 branch and give us some feedback on this issue?

[2016-09-29 21:14] jagthedrummer commented on #107
@wpolicarpo I'll try to give this a look later tonight. Thanks for the work on it.

[2016-09-29 21:45] jagthedrummer commented on #107
@wpolicarpo I can now get a spec to fail with the `fix-scheduled-jobs-testing` in my `Gemfile`, but the error messages are somewhat confusing.

With the example above when the tests fail I'm seeing this reported:

[code]

It _seems_ like it's just saying that the arguments are incorrect, when the real issue is that the value of `at` is incorrect. If I fix the time expectations so that they match t

[2016-09-29 21:55] wpolicarpo commented on #107
@jagthedrummer you're right. I'll see what can be done to make output better.

[2016-10-12 18:26] chhhris commented on #85
@zhen639 did you ever solve this?

[2016-12-13 15:22] hogaur commented on #76
For anyone who stumbles upon same issue -
try including gem 'rspec-sidekiq' in your Gemfile.

[2017-01-11 16:25] #107 closed

[2017-01-11 16:26] wpolicarpo opened #112 "Use master as default branch"
We could use master as the default branch as that's the code that reflects the latest published version.

There are many people trying to use `in` and `at` chainable methods, but they were not released yet, although they're described on README.

@packrat386 @philostler what do you think?

[2017-01-18 00:20] scifisamurai commented on #86
I'm also curious about this.  About suggestions?

[2017-01-25 00:29] Dorian opened #114 "Wait for the end of transactions before adding jobs to the queue"
If a transaction changes the model, the sidekiq job could be fired and executed before the transaction ends, thus getting on old state of the model while the transaction is not finished.

[code]

Full template for the example: https://gist.github.com/Dorian/3cca25378419922a4405bf9d945b8512

A very simple reduction would be:

[code]

Which is gonna print something including:

[code]

Full example:

[2017-01-25 02:06] packrat386 commented on #114
I think you're looking for the main [Sidekiq](https://github.com/mperham/sidekiq) repo. This is a library for testing those changes, but we don't really determine how stuff gets enqueued.

[2017-01-27 06:19] #114 closed

[2017-01-27 06:20] Dorian commented on #114
@packrat386 Oops, thanks, I posted it there: https://github.com/mperham/sidekiq/issues/3330

[2017-02-06 07:42] ehsan-khaliki commented on #92
@codemang Were you able to find a solution for this?

[2017-02-06 07:43] ehsan-khaliki commented on #92
Having same issue

[2017-02-06 14:41] codemang commented on #92
@ehsan-khaliki sorry this is from a while ago, at this point I don't remember. Good luck though.

[2017-02-06 16:17] ehsan-khaliki commented on #92
@wpolicarpo @packrat386 @philostler bump

[2017-02-06 16:22] ehsan-khaliki commented on #92
rspec-sidekiq (2.2.0)
sidekiq (4.2.9)

status = Sidekiq::Batch::Status.new(@batch.bid)

Failure/Error: status = Sidekiq::Batch::Status.new(@batch.bid)

     ArgumentError:
       wrong number of arguments (given 0, expected 2)

[2017-02-09 22:18] anothermh opened #115 "Release to Rubygems"
Are there plans to release to rubygems? The current `lib/rspec/sidekiq/version.rb` shows v3.0.0 but the file was last updated December 2015. The latest version on rubygems is 2.2.0. A new release would be great!

[2017-02-15 22:13] lastobelus opened #116 "have_enqueued_sidekiq_job fails frequently because of nanoseconds"
This generally happens when a time calculation has gone through a db round trip.

My current workaround is to use Timecop to freeze now without nanoseconds at the beginning of each spec:

              now = Timecop.freeze(Time.zone.now.change(nsec: 0))

but I think it would be better if `have_enqueued_sidekiq_job` dropped nanoseconds from both sides.

[2017-03-03 08:42] PikachuEXE commented on #115
I realize that too
Right now I am using my own workaround + 2.2.0 instead of `master` of this repo
Any release blocker?

[2017-03-13 13:30] hale commented on #92
Fixed in https://github.com/philostler/rspec-sidekiq/pull/111

[2017-03-23 06:21] baburdick commented on #115
👍  I'm using a workaround, too: philostler/rspec-sidekiq#108

[2017-04-04 18:28] packrat386 commented on #115
Version 3.0.0 is out on rubygems now. https://rubygems.org/gems/rspec-sidekiq/versions/3.0.0

[2017-04-04 18:28] #115 closed

[2017-04-04 23:26] baburdick commented on #115
👍  Thanks @packrat386!

[2017-04-20 10:57] pre opened #121 "README instructs to use deprecated method`have_enqueued_job()`"
README should instruct to use `have_enqueued_sidekiq_job()` instead of `have_enqueued_job()`.

The latter is deprecated and using it causes misleading errors when you are a new user.

[2017-05-02 17:14] nbibler opened #123 "be_delayed matcher fails with Sidekiq 5"
The current spec suite fails for the `be_delayed` matcher with `uninitialized constant Sidekiq::Extensions::DelayedClass`.

According to [the Sidekiq Upgrade doc](https://github.com/mperham/sidekiq/blob/master/5.0-Upgrade.md#whats-new):

[2017-05-02 17:27] nbibler opened #124 "Scheduled job matcher fails with mismatching timezones"
The internal implementation of the `at` and `on` matchers rely on converting Time instances to strings. However, prior to converting to strings, they don't normalize on a timezone (like UTC). So, the string comparison fails if the timezones for the two instances mismatch, even while the time itself is identical.

The matcher incorrectly fails because it believes these two "times" don't match:

[co

[2017-05-24 20:44] #121 closed

[2017-05-25 19:59] mecampbellsoup opened #127 "`has_enqueued_sidekiq_job?` matcher not defined?"
[code]

Code:
[code]

Assertion:
[code]

Gemfile:
[code]
Gemfile.lock:
[code]

[2017-05-31 16:02] foobear opened #129 "Test against multiple versions of Sidekiq"
Tests currently pass for Sidekiq 3 and 4, but fail for Sidekiq 5 (which is not in the scope of this issue ;)).

We've solved the issue of breaking APIs by testing against multiple versions using https://github.com/makandra/gemika.
If this sounds good to you, I'd go ahead and add it to rspec-sidekiq.

What do you think?

[2017-06-12 20:26] jsuarezb commented on #127
I had the same problem. I updated the gem to the last version (3.0.1) and it worked.

[2017-06-14 14:49] pelcasandra opened #133 "have_enqueued_sidekiq_job(job).at not working?"
Im running the last version:

    gem 'rspec-sidekiq', github: 'philostler/rspec-sidekiq', branch: 'develop'

And I have the following spec:

    it { expect(MyWorker).to have_enqueued_sidekiq_job(MyClass.last.id, nil).at(Time.now) }

However, it returns this:

     Failure/Error: expect(MyWorker).to have_enqueued_sidekiq_job(MyClass.last.id, nil).at(Time.now)

       expected to have an enqueued

[2017-06-14 15:37] packrat386 commented on #133
I believe you need to wrap the arguments in an array, i.e.

`expect(MyWorker).to have_enqueued_sidekiq_job([MyClass.last.id, nil]).at(Time.now)`

[2017-06-14 15:50] pelcasandra commented on #133
Thanks @packrat386, If I pass this

    expect(MyWorker).to have_enqueued_sidekiq_job([MyClass.last.id, nil]).at(Time.now)

I still get

       expected to have an enqueued MyWorker job
         arguments: [[1, nil]]
         options: {"at"=>Wed, 14 Jun 2017 13:00:00 UTC +00:00}
       found
         arguments: [[1, nil]]
         options: [{"at"=>1497459600.0}]

And If I convert the time to float

[2017-06-20 14:05] benoittgt commented on #86
First thanks @kmayer for the job already done.
I have the same problem. From [this discussion](https://github.com/mperham/sidekiq/issues/2700), Mike Perham say:

But I would like to know if rspec-sidekiq plan to add more support for batch callbacks.

[2017-06-20 16:36] kmayer commented on #86
This is an old discussion, I'm pretty sure that we came up with a
satisfactory solution, since I'm not worried about it any more :-) I'll
check my code.

Ken

On Tue, Jun 20, 2017 at 7:05 AM, Benoit Tigeot <notifications@github.com>
wrote:

--
CTO, PacerPro, Inc. https://www.pacerpro.com
Want to talk to me? Schedule an appointment here:
https://calendly.com/ken-pacerpro/15min

[2017-06-20 22:10] chrishough commented on #79
I am having this exact same problem....

[2017-06-21 02:29] chrishough commented on #76
I am having the same issue...

[2017-06-23 01:26] aprescott opened #135 "have_enqueued_job failing on 3.0.2 in cases where have_enqueued_sidekiq_job passes"
Some of my tests started failing with `have_enqueued_job` on 3.0.2, whereas before they were passing on 3.0.0. The failure is:

[code]

I noticed the deprecation warning about switching to using `have_enqueued_sidekiq_job`, and that seems to work fine. Despite the deprecation, I would expect the two matchers to work the same and continue to be aliases.

By looking at the [comparison for `v3.0.0...

[2017-06-23 01:41] aprescott commented on #135
I managed to put the fix for this together in #136, along with a test.

[2017-06-23 03:17] packrat386 commented on #135
Closed by #136

For future reference, you can put "Closes #135" in the body of the PR and this will get closed automagically when I merge.

[2017-06-23 03:17] #135 closed

[2017-06-23 03:19] packrat386 commented on #129
I'd rather just test by using separate gemfiles. See [here](https://github.com/philostler/rspec-sidekiq/blob/develop/gemfiles/sidekiq4.gemfile) for example.

Is Sidekiq 3 still maintained? Because if not I'm probably going to err on the side of not testing for it.

[2017-06-23 03:22] aprescott commented on #135
Yep, I know that trick, but forgot to include it and thought it best to not edit the PR.

Thanks for the merge!

[2017-06-23 07:21] foobear commented on #129
That's what Gemika does. :) It's more of a convenience wrapper to test against all Gemfiles (and support multiple Ruby versions).

I honestly don't know. :) It seems old versions don't get updates, so it's a perfectly valid option to drop support for Sidekiq <5.

Was just wondering if the goal was to support multiple versions of Sidekiq, and when tests for Sidekiq 5 would pass. Since it seems to h

[2017-06-23 15:16] chrishough commented on #76
Closed without comment..... 😿

What was the fix @dugjason?

[2017-06-29 08:43] benoittgt commented on #86
Sorry for the bump @kmayer. But I'm still interested ;)

[2017-06-29 15:02] packrat386 commented on #86
If mike perham is against it we're probably not going to add it.

[2017-06-29 15:03] benoittgt commented on #86
[He said](https://github.com/mperham/sidekiq/issues/2700#issuecomment-309829368) "If anyone comes up with a solution they think is useful to all Sidekiq Pro users, I'm happy to review"

[2017-06-29 15:05] packrat386 commented on #86
I mean, PRs are welcome, but I feel reasonably confident in speaking for the team that we're not going to to spend time working on it if it's a feature that perham thinks is unlikely to work well.

[2017-06-29 15:57] kmayer commented on #86
Here's how we do it at PacerPro:

We modified the worker so it returns a Sidekiq::Batch object:

[code]

and in RSPec, we call `#perform` to run synchronously, then `batch.status.join` to run the callbacks and check behavior.

[code]

[2017-07-03 22:43] jmperez127 commented on #133
@pelcasandra I was facing the same issue as yours but I solved it by using timecop to freeze the current time
https://github.com/travisjeffery/timecop

[2017-07-04 08:49] JonghunYu commented on #133
@pelcasandra I have same issue. did you find any workaround?

[2017-07-04 15:15] packrat386 commented on #133
Yeah it looks like in this case the time you enqueued the job at is not the time you checked the job at (since the value of `Time.now` is going to change as your test runs). Unless you're enqueueing a job for a specific time and then checking against exactly that time, you're going to need to freeze time with timecop or something to make this kind of a test work.

[2017-07-06 15:06] arpadlukacs opened #137 "Can't test several delayed jobs together"
I'm delaying sending two emails, one right now and another one later on.

This is the related code in my Appointment#book!

[code]

I'm trying to test like this:

[code]

The last expect line always fails. If I comment out the " ScheduleMailer.delay.confirmation(id)" line in the appointment model, the line passes.

I looked into rspec-sidekiq's code and it seems the be_delayed#find_job does not fi

[2017-07-17 09:55] mvalipour opened #138 "Any reason why `at_evaluator` using `.to_s` instead of a plain comparison?"
This is more of a question, but it's something that has come to huge confusion for me.

In here: https://github.com/philostler/rspec-sidekiq/blob/develop/lib/rspec/sidekiq/matchers/have_enqueued_job.rb#L29

[code]

Is there any reason why this isn't using a simple comparison? `value.to_time == Time.at(job['at'])`.

I tend to have a lot of issues/confusion when `value` is in a different time zone.

[2017-07-17 09:55] mvalipour commented on #138
☝️ I'm happy to PR this if there is a consensus.

[2017-08-17 15:37] dpoetzsch opened #143 "Check if a job is scheduled for right now"
I'd expect the following to work (I am already wrapping this in timecop):

[code]

Well, it does not work leaving me with no way to check if the job was enqueued for now and not for a later time.

I already checked your code and I think the problem is that you directly return false if the sidekiq job is scheduled at `nil`, but I think `nil` should instead be treated as `Time.now`. If you're intere

[2017-08-18 15:41] dpoetzsch commented on #133
I don't really think this is the key problem here, as I also get errors like

[code]

(Notice how the arguments are *exactly* the same?)

It works, if I explicitly use something like `Time.now + 30.days`. I feel something is really broken here..

[2017-08-18 16:11] dpoetzsch commented on #138
I agree, the timezone issue #124 make this *really* difficult to debug.

I would prefer a comparison using `.to_f` instead (which is probably the same as direct comparison?)

[2017-08-18 23:24] mathieujobin commented on #143
Expect first

On Aug 17, 2017 11:37 AM, "David Poetzsch-Heffter" <notifications@github.com>
wrote:

[2017-08-18 23:25] mathieujobin commented on #143
Actually. I am not sure. I have no idea. Sorry.

On Aug 17, 2017 11:37 AM, "David Poetzsch-Heffter" <notifications@github.com>
wrote:

[2017-08-18 23:28] mathieujobin commented on #133
Options is different.

On Aug 18, 2017 11:42 AM, "David Poetzsch-Heffter" <notifications@github.com>
wrote:

[2017-09-01 09:32] dpoetzsch commented on #133
@mathieujobin no, options is the same; it is just printed differently for some reason.

[2017-09-06 08:52] shifakhan opened #144 "have_enqueued_sidekiq_job doesn't check order of arguments given to Job"
Code
`AwesomeJob.perform_async 'Awesome', true`

Tests -
`expect(AwesomeJob).to have_enqueued_sidekiq_job('Awesome', true)`
`expect(AwesomeJob).to have_enqueued_sidekiq_job(true, 'Awesome')`

Both tests pass. Is this expected behaviour ? Shouldn't we check the order of the arguments as well?

[2017-09-14 09:50] Skillvendor commented on #123
God!

[2017-09-28 21:58] a0s commented on #133
This is pretty usefull gem, but what the stupid bug is here ? :( Have the same problem

[2017-09-28 22:42] a0s commented on #138
I think it should work with `.utc` https://github.com/philostler/rspec-sidekiq/pull/146

[2017-10-20 16:41] lowderl commented on #133
I have the same issue where the "expected" options is just a hash but the "found" options is a hash inside an array.

Anybody know how to fix this or work around this?

[2017-10-30 16:56] mach-kernel commented on #76
I have the same issue. `sidekiq` 5.0.5 and `rspec-sidekiq` 3.0.3

[2017-12-03 12:03] #75 closed

[2017-12-26 16:43] jughead commented on #144
Got the same problem by passing custom matcher. This is the reason: https://github.com/philostler/rspec-sidekiq/blob/develop/lib/rspec/sidekiq/matchers/have_enqueued_job.rb#L84

[2018-01-01 16:24] magedmakled commented on #133
`expect(MyWorker).to have_enqueued_sidekiq_job().at(Time.now) `
 causing me to get this error, is that related?

`undefined method `at' for #<RSpec::Matchers::BuiltIn::Has:0x007fecb7f0a068>`

[code]
Any suggestions?

[2018-01-02 15:28] magedmakled opened #148 "have_enqueued_sidekiq_job "at function is undefined"
`expect(MyWorker).to have_enqueued_sidekiq_job().at(Time.now)`
 undefined method `at' for #<RSpec::Matchers::BuiltIn::Has:0x007fdce6c35e40>

[2018-01-02 15:29] magedmakled opened #149 "have_enqueued_sidekiq_job "at" function is undefined"
My worker `perform` method doesn't take any argument so I'm trying to test it with
`expect(MyWorker).to have_enqueued_sidekiq_job().at(Time.now)`
but I'm getting
` undefined method `at' for #<RSpec::Matchers::BuiltIn::Has:0x007fdce6c35e40>`

Any suggestions?

[2018-01-02 15:30] #148 closed

[2018-01-02 15:53] packrat386 commented on #149
Can I get a full code sample as well as a version of the library? It looks like it's using some matcher out of the built in ones of RSpec.

[2018-01-02 16:12] magedmakled commented on #149
I agree with you on the matcher issue. It also gives me `undefined method configure for RSpec::Sidekiq:Module`
when I try to
`RSpec::Sidekiq.configure do |config|` in the `spec_helper` here is my rspec gems
[code]

[2018-01-02 16:44] magedmakled commented on #149
Fixed it with `require 'rspec-sidekiq'` in `spec_helper.rb`

[2018-01-02 16:44] #149 closed

[2018-01-02 16:57] magedmakled commented on #133
Fixed it with require `rspec-sidekiq` in `spec_helper.rb`

[2018-01-05 08:27] sobataro commented on #116
:+1:

[2018-02-22 08:04] fifiteen82726 opened #151 "uninitialized constant RSpec::Sidekiq (NameError)"
After I put the following code into **/spec/spec_helper.rb**, it comes the error

[code]

The error contains following

[code]

GEM info
[code]

Ruby 2.3.0

[2018-02-22 15:35] packrat386 commented on #151
Did you include `require 'rspec-sidekiq'`?

[2018-02-23 03:28] fifiteen82726 commented on #151
Hi @packrat386

I found out the problem is not relative to `require 'rspec-sidekiq'`,

According to the WIKI here(https://github.com/philostler/rspec-sidekiq/wiki/FAQ-&-Troubleshooting#how-do-i-disable-it)

It states that
[code]

So I change it into `rails_helper.rb`, it works.

[2018-02-23 03:28] #151 closed

[2018-03-07 14:36] casperbrike commented on #76
If your job class is derived from `ActiveJob::Base`:
[code]

If your job class includes `Sidekiq::Worker`:
[code]

Useful links:
[Sidekiq testing](https://github.com/mperham/sidekiq/wiki/Testing)
[ActiveJob testing](https://relishapp.com/rspec/rspec-rails/v/3-5/docs/matchers/have-enqueued-job-matcher)

[2018-06-05 21:50] Loremaster commented on #133
Also expiriencing similar issue:

[code]

What is the workaround?

[2018-07-02 22:56] tfwright commented on #65
I just got bit by this as well. Very surprising behavior. At the very least the failure message should report delayed methods with different arguments.

[2018-10-24 12:23] coding-bunny opened #157 "Checking for time fails"
Hello,

i'm writing specs to check that a job re-schedules itself one minute from the current time.
I'm using the `perform_in(1.minutes.from_now)` along with the arguments.

The spec I am using to test his is as follows in RSpec:

[code]

This however fails with the following:

[code]

RSpec : 3.8
Sidekiq: 5.0.0

It seems as if different objects are used for this.

[2018-12-09 00:02] #112 closed

[2019-02-22 09:34] maxrosecollins opened #159 "Testing the sidekiq_retry_in for workers"
I checked the docs but couldn't see it.
How am I able to test the `sidekiq_retry_in` with rspec?

Thanks!

[2019-03-25 15:37] tom-williams commented on #124
Also a problem with testing perform_in over a sommer/normal time shift:

So RSpec::Sidekiq::Mathers::JobOptionsParser method `def in_evaluator(value)`

Should probably be written (to also allow for possible concurrency issue):
[code]
To allow for a slow running test having a difference between enqueue call to Time.now and the in_evaluator's call to Time.now (maybe 2 seconds is too much)

[2019-07-04 12:13] gustavosobral commented on #133
I have a simular issue, I've wrapped the matcher with square brackets but I still have an issue:

Tested code:
[code]

Test:
[code]

Failure:
[code]

[2019-07-04 13:16] a0s commented on #133
I rebased my [patch](https://github.com/philostler/rspec-sidekiq/pull/146/) to fresh develop.
Anyway, you can monkey-patch this rspec's methods in you project locally
[code]

[2019-07-10 15:59] danielnc opened #161 "Disabling RSpec::Sidekiq::NullStatus programmatically"
Hi,

I am wondering if there is a way to disable RSpec::Sidekiq::NullStatus for Sidekiq::Batch for a specific test.

I want to test a real scenario of the sidekiq::batch object(`Sidekiq::Batch::Status.new(params[:batch_id])` to be more precise) and I want to use the real object, so I know that I am serializing it properly

Is there a way that I can disable NullStatus only for a specific test in my

[2019-07-11 10:40] danielnc commented on #161
Just had a chance to dig in the code and saw the metadata `stub_batches`

Suggest improving the readme file

[2019-07-25 03:56] sshaw opened #162 "have_enqueued_sidekiq_job Diff is Wrong"
[code]

Will fail with
[code]

Note that it presents an `Array` and an `Array` of `Array`s.

[2019-08-12 09:37] charger commented on #133
I was facing the same issue.
[code]
and got:
[code]

The difference: options expected as hash `{"at"=>...}` but got array `[{"at"=>...}]`

[2019-10-07 23:36] mauriciomontesc commented on #133
@pelcasandra you can try `it { expect(MyWorker).to have_enqueued_sidekiq_job(MyClass.last.id, nil).at(Time.at(Time.now)) }` maybe it could work.

[2019-11-15 18:00] dabit commented on #133
Damn it, just bumped into this bug

[2020-02-04 02:07] eduardoprentcomau commented on #159
I managed to test this way (running sidekiq 5.2.7):
[code]

[2020-03-23 21:57] molenick-mov opened #165 "Testing the negative case of have_enqueued_sidekiq_job with any arguments?"
I'm trying to test that a job was not enqueued.  When I write the test like so, the test passes even though the job was enqueued:

[code]

If I write it with the specific arguments that it is enqueued with, it will fail.  I don't want to specify arguments because if they change, my test will not be valid.
[code]

Specifying anything for each arguments gives the result I want, but I would prefer no

[2020-04-06 16:42] cgunther commented on #165
I've solved similar problems by asserting on how many jobs were queued, sometimes ensuring no jobs were queued. For example:

[code]

[2020-04-07 18:51] cgunther commented on #162
I believe this is correct. The "expected arguments" is showing you the arguments from your assertion in array form. The "found arguments" is showing you the arguments of all the jobs that are enqueued. The length of the outermost array is essentially the number of jobs enqueued. If you had multiple jobs enqueued the message would look like:
[code]

[2020-04-19 19:39] sebfie commented on #133
I also randomly got this !

[2020-04-29 01:08] chrishough opened #166 "be_retryable not using global settings"
The matcher for `it { is_expected.to be_retryable 10 }` is not picking up the `:max_retries: 10` in the `config/sidekiq.yml` file.

[2020-04-29 01:26] chrishough commented on #85
Was this ever solved?

[2020-06-21 16:38] packrat386 commented on #133
Sorry this took to so long to get to. #153 has been pulled into the latest release (3.1.0), which should address this issue. Gonna close this issue for now, but feel free to re-open/comment if you're still seeing problems.

[2020-06-21 16:38] #133 closed

[2020-06-21 16:42] packrat386 commented on #89
Doesn't reproduce locally and this is pretty old.

[2020-06-21 16:42] #89 closed

[2020-06-21 16:45] packrat386 commented on #85
believe https://github.com/philostler/rspec-sidekiq#within_sidekiq_retries_exhausted_block should work

[2020-06-21 16:48] packrat386 commented on #85
Err actually I misread this. I think you need to just set the expectation on the class you're calling. In the example case it'd be `expect(NotifyMailer).to receive(:warn_email) # etc...`

[2020-06-24 11:30] coding-bunny commented on #157
We actually swapped to using `Timecop` to resolve the problems.
I should probably close this xD

[2020-06-24 11:30] #157 closed

[2020-06-29 17:29] MaicolBen opened #167 "Checking for time has a different format expectation"
Since we upgraded to 3.1.0, this match `have_enqueued_sidekiq_job(id).in(20.minutes)` fails randomly only in the CI:
[code]

That seems weird since in that code we don't have `at`

[2020-07-30 19:08] theSociableme opened #168 "has_enqueued_sidekiq_job is not matching even though they are identical"
[code]

Here is my spec
`
 context 'when chat event is from Apex' do
      let(:apex_chat_params) do
        {
          'country' => 'USA',
          'data': {
            'chatId' => '3078079',
            'chatAccountId' => '3269891',
            'chatSummary' => 'Hello\nBye',
            'chatTextFull' => 'Visitor: Bye\nSystem: The chat session has ended.\n',
            'provider' => 'Apex',

[2020-10-09 05:19] mrothenbuhler opened #169 "Disable all sidekiq jobs for testing"
Hi--is there a way to do this? We have some auto-run jobs we'd like to disable

[2020-12-22 10:21] pirj opened #170 "Block syntax `enqueue_sidekiq_job` matcher"
There is a slight problem with the existing `have_enqueued_sidekiq_job` matcher, specifically that it's prone to the [incidental state error](https://rspec.rubystyle.guide/#incidental-state), unlike `rspec-rails`'s [Active Job-oriented `have_enqueued_job`](https://relishapp.com/rspec/rspec-rails/v/4-0/docs/job-specs/job-spec) that is a block syntax matcher. E.g.:
[code]

[code]

In the above examp

[2021-01-11 09:01] pirj commented on #170
Ping

[2021-01-13 16:28] paulmthiebauth commented on #85
+1 to what @packrat386 said here - you'd set the expectation on the `NotifyMailer` class as opposed to involving the `PostListingsWorker`

[2021-02-20 10:48] sineed commented on #170
hey @pirj have you worked on this one? I like the idea and I'm curious if I can sneak the implementation :)

[2021-02-20 11:53] pirj commented on #170
I haven't yet, but since you support the idea, I'll tackle it.
For the implementation, I think of something very similar to [this](https://github.com/rspec/rspec-rails/blob/a78519850c8c8c3cf86319b2cc0b214bf16a6372/lib/rspec/rails/matchers/active_job.rb#L233).

[2021-02-20 12:19] sineed commented on #170
Yes, good to add negated matcher as well. It will be quite handy and readable to see something like:

[code]

[2021-03-21 15:23] pirj commented on #170
Released as https://github.com/pirj/rspec-enqueue_sidekiq_job https://rubygems.org/gems/rspec-enqueue_sidekiq_job

I've closed the PR. Please feel free to close the ticket as well.

[2021-05-06 13:02] ts-mustaghees commented on #168
Having same issue in rspec-sidekiq 3.1.0. Tried both with `have_enqueued_sidekiq_job([...])` and `have_enqueued_sidekiq_job(...)`

[2021-05-25 17:03] Tolsee commented on #162
+1

I encountered this when using `Sidekiq::Client.enqueue_to_in`.

[2021-06-28 03:10] chipach commented on #133
Dear Future Google Traveler who has also found this. The .at stuff is fixed in 3.1.0 as noted above, but that might not be what you're looking for.

A very similar error can occur if you enqueue what you think are ints (even without the .at) and then you're checking have_enqueued_sidekiq_job and get something that looks like:

`       expected to have an enqueued Review::ProcessOneJob job

[2021-08-02 13:52] Paul-Yves opened #177 "Issue with yaml safe loading (psych gem)"
I am trying to upgrade to psych 4 but there are breaking changes on yaml loading and all my expect().to be_delayed breaks.

There are some examples of other library starting to use safe load.

Is it something rspec-sidekiq would consider do ?

[2021-08-16 09:03] Paul-Yves commented on #177
The gem I used no longer has dependency to reek so I no longer have the issue, however I guess that the issue remains for those who upgrade psych version.

[2021-11-03 13:18] joseneto commented on #168
Same problem using 3.1.0.

[code]

[2021-11-10 10:15] mcrampon opened #178 "`be_delayed` without expected_arguments never matches"
From what I can see, this is due to how the jobs are found:

[code]

If no expected arguments are given, `(@expected_arguments <=> yaml[2]) == 0` will always be false (for jobs that have been enqueued with arguments).

(Also, I'm not sure why there is a spaceship operator here instead of a simple `==`, and why `method` and `arguments` are passed to `find_job` but never used, but that's another top

[2021-12-06 19:03] pbstriker38 opened #179 "RSpec::Sidekiq::NullStatus is missing pending count"
`NullStatus` has total and failures but is missing `pending`

[2022-01-12 10:55] ccyrille commented on #178
To complete this issue, the most problematic / counter-intuitive seems :

[code]

This is pretty misleading. I see two possible fix for that :
1. Make `be_delayed` ignore the arguments check if no argument is passed to it (it will match the related job whatever the arguments). But I am not sure of the potential impacts.
2. Allow at least to do something like `be_delayed(any_args)` using the capabi

[2022-01-12 11:12] coding-bunny commented on #178
Yeah, this feels misleading to me, as based on the code snippet, the test is supposed to fail since we are delaying for 1 minute.

The initial idea to only perform the argument check if arguments are actually passed feels good to me.
Just not 100% sure if it is true in all cases, but I suppose testing/usage will reveal that.

[2022-01-17 09:08] teckwan commented on #178
Hi @coding-bunny, I've submitted a PR to fix this issue. I've went with ignoring the argument check if non are passed as the solution.

[2022-01-17 09:09] coding-bunny commented on #178
cc @philostler @packrat386

[2022-02-02 15:20] michaelfranzl commented on #168
I have a very similar issue using 3.1.0:

[code]

The problem is that the job **_really_** receives the three arguments `"abc"`, `[1]` and `[2]`.

[2022-02-03 07:34] michaelfranzl commented on #162
I have the same issue as @Tolsee . If I am passing an array as one of the arguments, that array is displayed flattened in the diff message:

[code]

[2022-02-03 07:44] michaelfranzl commented on #168
This could be #162 where (at least) arrays are flattened in the "found arguments" output message, making you believe that the expectation is met, when in reality it isn't.

[2022-02-08 21:34] gnumarcelo opened #181 "Using ActiveJob::Base with sidekiq_options raises an error"
I'm using Sidekiq with ActiveJob on Rails 6.0.4, and I have defined the following class:

[code]
It works as expected when I run the code in development mode, but my specs fails with:
[code]

I've identified this fails because in test environment I am using `rspec-sidekiq`. Does anyone have experienced the same issue? Is `rspec-sidekiq` somehow incompatible with the code above?

Thanks!

[2022-02-09 16:04] #92 closed

[2022-02-09 16:05] #104 closed

[2022-02-09 16:07] #106 closed

[2022-03-09 18:01] derikson opened #183 "difference in DST handling between Sidekiq's `perform_in` and `have_enqueued_sidekiq_job`"
There's a calculation inconsistency between Sidekiq and `have_enqueued_job` when using `perform_in` with a days or months `ActiveSupport::Duration`, and the current time is before a daylight savings time change, and the job is scheduled after the time change.

`Awesomejob.perform_in 7.days, 'Awesome'` converts the current time and the `7.days` to floats and then adds them together, resulting in a

[2022-04-20 18:17] RichardsonWTR opened #184 "How to expect to have_enqueued_sidekiq_job with specific queue? - [setting queue name at runtime]"
My class decides the queue name dynamically depending on business rules.

How to expect that my class has enqueued the specific job with the specific arguments in the specific queue?

One way to to this could be with this API
[code]

### Why ?
Because my code is enqueuing the job in a command like this one:
[code]

### One way to accomplish this

One way that I've found to accomplish this is (But

[2022-04-27 20:16] danny-pflughoeft commented on #168
I ran into this too.  The issue turned out to be that we sneakily had `Sidekiq::Testing.inline!` enabled in our tests.  Disabling that fixed the issue.

[2022-05-25 15:21] drewnichols commented on #85
I recommend closing this issue. I was able to get `within_sidekiq_retries_exhausted_block` working successfully as described in the documentation. The issue described above is because
[code]
should be
[code]

[2022-05-25 15:30] adsteel opened #186 "Does this gem need a new owner?"
I'm not seeing any activity on this gem in the past 2 years, but there are a number of apparently valid, open issues and PRs. I work at Stitch Fix and we use this gem heavily. Personally I love it, it makes my life easier and I'd love to see it continue to grow. I'd be interested in taking over ownership/maintenance if that's an option.

[2022-07-06 18:02] stefanzero commented on #162
I had a similar problem, where the actual arguments were in a nested array.  Upon careful inspection, I saw that I set one of the expected items incorrectly.  After I fixed that argument, the test passed and it no longer displayed the nested array.

[2022-08-02 09:19] bmulholland commented on #186
Given there's no response, I'd say just fork it and start pulling in PRs :)

[2022-09-11 10:38] jana-rently commented on #168
I ran into the same issue:
this is caused only when we use arrays on arguments.

Things we can do to avoid this issue is
1. expect exactly what u need. don't add [] in the expectation.
for example
_expect(User::RemoveAccess).to have_enqueued_sidekiq_job([user.id,user_account_ids])_
here don't use [user.id, user_account_ids]
use
expect(User::RemoveAccess).to have_enqueued_sidekiq_job(user.id,user_a

[2022-10-04 08:11] sehgalmayank001 commented on #181
@gnumarcelo , were you able to resolve this? I am facing the same issue.

`sidekiq_options` somehow aren't defined for rspec but are available in rails console for test env.
[code]

[2022-11-25 19:32] hirowatari commented on #186
Please let us know if you decide to do something with this.  It would be wonderful to have Stich Fix maintain this.